/**
 * Project style 
 * @author micaellgoms
 */

 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
 
 * {
 	margin: 0;
 	border: 0;
 }

 body {
 	font-family: 'Montserrat', sans-serif;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
 	font-weight: bold;
 }

 .title {
 	float: right;
 	margin: 3rem;
 	margin-right: 5rem;
 }

 .title small {
 	font-size: 18px;
 	font-weight: lighter;
 }

 button {
 	font-family: 'Montserrat', sans-serif;
 	cursor: pointer;
 	padding: .2rem;
 	padding-left: 2rem;
 	padding-right: 2rem;
 	background-color: #2A363B;
 	color: #FFF;
 	border-radius: 2rem;
 	font-size: 18px;
 	font-weight: 600;
 	margin: 1rem;
 	margin-top: 1rem;
 	box-shadow: 0px 0px 8px 0px #666;
 	position: absolute;
 	bottom: 1rem;
 	right: 1rem;
 }

 button:hover {
 	background-color: #E84A5F;	
 }

 .reset {
 	background-color: #02A676; 
 }

 .reset:hover {
 	background-color: #E84A5F;
 }

 .line {
 	bottom: 3rem;
 }

 .polygon {
 	bottom: 5rem;
 }

 .circle {
 	bottom: 7rem;
 }

 .bezier {
 	bottom: 9rem;
 }

 .real-polygon {
	bottom: 13rem;
	background-color: #666;
 }

 .translation {
	bottom: 17rem;
 }

 .rotation {
	bottom: 19rem;
 }

 .escale {
	bottom: 21rem;
 }

 canvas {
 	box-shadow: 0px 0px 4px 0px #666;
 	cursor: crosshair;
 }

 footer {
 	position: absolute;
 	bottom: .5rem;
 	left: 1rem;
 }